In [2]:
print("This is my first python program")

This is my first python program

In [3]:
"""
This is a 
multi - line 
comment
"""

'\nThis is a \nmulti - line \ncomment\n'

In [4]:
# This is a single line comment

In [5]:
a = 10
type(a)

int

In [6]:
b = "anuja"
type(b)

str

In [7]:
print(a, b)

10 anuja

In [8]:
c, d = 45, 'woman'
print(c,d)

45 woman

In [12]:
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>

In [13]:
a = 1.6
type(a)

float

In [14]:
b = True
type(b)

bool

In [15]:
True + True + False + True

3

In [16]:
print(True + False +  True)

2

In [3]:
# In the above two examples true equals 1 and false equals 0

In [4]:
"anu" + "anu" + "anu"

'anuanuanu'

In [5]:
"anu"*3

'anuanuanu'

#### taking input from user

In [6]:
a = input()

In [7]:
print(a)

123

In [9]:
a = input("enter an integer")
type(a)
print(a)

2354

In [11]:
# take three inputs from user
# perform a+b/c on the three inputs
# add a complex number to the output
# concate the final result with your name

In [1]:
a = int(input("This is my variable a"))
b = int(input("this is my variabel b"))
c = int(input("this is my variable c"))

In [2]:
print(a,b,c)

12 23 52

In [3]:
o = (a+b)/c
o1 = o + 7 +2j

In [4]:
o1

(7.673076923076923+2j)

In [5]:
str(o1) + "anu"

'(7.673076923076923+2j)anu'

#### If - Elif

In [6]:
# take a input
# if value is less than 10 print pass
# if value if not less than 10 print fail

In [7]:
a = int(input("take a number input"))

In [8]:
if a < 10:
    print("Pass")

else:
    print("Fail")

Fail

In [9]:
# input salary
# if alary less than 1000 then buy car
# if salary less than 500 then buy bike
# if neither of the above then save

In [13]:
a = int(input("My salary is"))
if a > 1000:
    print("I will buy a car")
elif a > 500:
    print("I will buy a bike")
else:
    print("I will save")

I will save

#### Nested If Statement

In [14]:
a = int(input("My salary is"))
if a > 1000:
    print("I will buy a car")
    if a < 5000:
        print("Maruthi Car")
    elif a < 10000:
        print("Hyundai Car")
    else:
        print("Audi Car")

elif a > 500:
    print("I will buy a bike")
else:
    print("I will save")

I will buy a car
Maruthi Car