In [2]:
l = ['anuja', 28 , 'Engg', 4+3j, True, [3,5,'anu']]
type(l)

list

In [3]:
l[2]

'Engg'

In [4]:
l2 = list()
type(l2)

list

In [5]:
for i in l:
    print(type(i))
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'int'>
<class 'int'>
<class 'str'>

In [6]:
l[::-1]

[[3, 5, 'anu'], True, (4+3j), 'Engg', 28, 'anuja']

In [7]:
a = 'anu'
a = list(a)
a

['a', 'n', 'u']

In [9]:
l+a

['anuja', 28, 'Engg', (4+3j), True, [3, 5, 'anu'], 'a', 'n', 'u']

In [10]:
# above example issue : string is split and each character is an element of the list now

In [12]:
"anuja" in l

True

In [13]:
"my first name is {} and last name is {}".format("Anuja", "N")

'my first name is Anuja and last name is N'

In [15]:
"my first name is {a} and last name is {b}".format(b="N",a="Anuja")

'my first name is Anuja and last name is N'

In [17]:
_name = "Anuja"
_age = 28
print("my name is", _name, ' and my age is', _age)

my name is Anuja  and my age is 28

In [18]:
l = ["anuja", 234, 45.56, [45,56,"c"], True]

In [19]:
for i in l:
    print(i)

anuja
234
45.56
[45, 56, 'c']
True