In [2]:
l = ['anuja', 28 , 'Engg', 4+3j, True, [3,5,'anu']]
type(l)

list

In [3]:
l[2]

'Engg'

In [4]:
l2 = list()
type(l2)

list

In [5]:
for i in l:
    print(type(i))
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'int'>
<class 'int'>
<class 'str'>

In [6]:
l[::-1]

[[3, 5, 'anu'], True, (4+3j), 'Engg', 28, 'anuja']

In [7]:
a = 'anu'
a = list(a)
a

['a', 'n', 'u']

In [9]:
l+a

['anuja', 28, 'Engg', (4+3j), True, [3, 5, 'anu'], 'a', 'n', 'u']

In [10]:
# above example issue : string is split and each character is an element of the list now

In [12]:
"anuja" in l

True

In [13]:
"my first name is {} and last name is {}".format("Anuja", "N")

'my first name is Anuja and last name is N'

In [15]:
"my first name is {a} and last name is {b}".format(b="N",a="Anuja")

'my first name is Anuja and last name is N'

In [17]:
_name = "Anuja"
_age = 28
print("my name is", _name, ' and my age is', _age)

my name is Anuja  and my age is 28

In [18]:
l = ["anuja", 234, 45.56, [45,56,"c"], True]

In [19]:
for i in l:
    print(i)

anuja
234
45.56
[45, 56, 'c']
True

In [20]:
for i in l:
    if type(i) == list:
        print("this is a list", i)
    else:
        print("this is not a list", i)

this is not a list anuja
this is not a list 234
this is not a list 45.56
this is a list [45, 56, 'c']
this is not a list True

In [22]:
l1 = [345,2345, "ml", "tech"]
l + l1

['anuja', 234, 45.56, [45, 56, 'c'], True, 345, 2345, 'ml', 'tech']

In [23]:
l*2

['anuja',
 234,
 45.56,
 [45, 56, 'c'],
 True,
 'anuja',
 234,
 45.56,
 [45, 56, 'c'],
 True]

In [24]:
len(l)

5

In [25]:
True in l

True

In [26]:
345 in l

False

In [28]:
max(2,3,4,5)

5

In [29]:
max("anuja","tech", "YES!")

'tech'

In [30]:
l.append("namboo")
l

['anuja', 234, 45.56, [45, 56, 'c'], True, 'namboo']

In [31]:
l.append([1,2,3])
l

['anuja', 234, 45.56, [45, 56, 'c'], True, 'namboo', [1, 2, 3]]

In [32]:
l1 = [1, 2, 3, 4]
l1.append("anuja")
l1

[1, 2, 3, 4, 'anuja']

In [33]:
l1.insert(3,"namboo")
l1

[1, 2, 3, 'namboo', 4, 'anuja']

In [34]:
l1.insert(-1, "test")
l1

[1, 2, 3, 'namboo', 4, 'test', 'anuja']

In [35]:
# test is inserted at -1 position and then 'anuja' is shifted to the next, right position

In [36]:
l1

[1, 2, 3, 'namboo', 4, 'test', 'anuja']

In [38]:
l1.count("test")  # count of a element in the list

1

In [39]:
l2 = [1,2,3,4]
l2.append("anuja")

In [40]:
l2.append([1,2,3])

In [41]:
l2

[1, 2, 3, 4, 'anuja', [1, 2, 3]]

In [42]:
l2.extend("test1")
l2

[1, 2, 3, 4, 'anuja', [1, 2, 3], 't', 'e', 's', 't', '1']

In [43]:
l2.extend(45)
l2

TypeError: 'int' object is not iterable

In [44]:
# extend always expects iterable objects as it unwraps the elements and then inserts in the list towards the end

In [45]:
l2

[1, 2, 3, 4, 'anuja', [1, 2, 3], 't', 'e', 's', 't', '1']

In [46]:
l2.index(3)

2

In [47]:
l3 = [2,3,4,5,6,7]
l3.pop()

7

In [48]:
l3

[2, 3, 4, 5, 6]

In [49]:
l3.pop(0)
l3

[3, 4, 5, 6]

In [50]:
l3.remove(5)
l3

[3, 4, 6]

In [53]:
l3.reverse()
l3

[6, 4, 3]

In [55]:
l3.sort()
l3

[3, 4, 6]

In [56]:
l4 = [3,4,5,6,"anuja"]
l4.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [57]:
l4 = [3,4,5,6,52.12, 63.23]
l4.sort()

In [58]:
l4

[3, 4, 5, 6, 52.12, 63.23]

In [59]:
"""
l = [ [], [], []]
1. append 2 more list and one complex number in between
2. if your nested list contains string then find out its index , print it and then remove
3. You have to extract 2nd element of each nested list
"""

'\nl = [ [], [], []]\n1. append 2 more list and one complex number in between\n2. if your nested list contains string then find out its index , print it and then remove\n3. You have to extract 2nd element of each nested list\n'

In [108]:
lst = [[2,3,"anu"], ["akhil", 30, 175], ["xyz", 52.23, 98], 23, 56]

In [109]:
lst.insert(1, [56, 38, "hulk"])
lst

[[2, 3, 'anu'],
 [56, 38, 'hulk'],
 ['akhil', 30, 175],
 ['xyz', 52.23, 98],
 23,
 56]

In [110]:
lst.insert(3, ["dark", "night", 52.36, 12])
lst

[[2, 3, 'anu'],
 [56, 38, 'hulk'],
 ['akhil', 30, 175],
 ['dark', 'night', 52.36, 12],
 ['xyz', 52.23, 98],
 23,
 56]

In [112]:
for i in lst:    
    if type(i) == list:
        for j in i:        
            if type(j) == str:
                print(i.index(j))

2
2
0
0
1
0

In [113]:
for i in lst:
    if type(i) == list:
        print(i.pop(2))

anu
hulk
175
52.36
98

In [114]:
# solve above question