### TUPLE

In [1]:
t = ()
type(t)

tuple

In [2]:
l = []
type(l)

list

In [3]:
t1 = (234, 34, "anuja", 3.45, True)

In [4]:
l1 = [234, 34, "anuja", 3.45, True]

In [5]:
t1[0]

234

In [6]:
t1[0:4]

(234, 34, 'anuja', 3.45)

In [7]:
t1[::-1]

(True, 3.45, 'anuja', 34, 234)

In [8]:
t1[-1]

True

In [9]:
l1[0]

234

In [10]:
l1[0] = "rock"
l1

['rock', 34, 'anuja', 3.45, True]

In [11]:
# this shows that list is a mutable entity

In [12]:
t1[0] = "sky"

TypeError: 'tuple' object does not support item assignment

In [14]:
# tuples are immutable
# item reassignment is not possible

In [15]:
t2 = (234, 54, 565)

In [17]:
t1 + t2 # append works because assignment is happening in a new location

(234, 34, 'anuja', 3.45, True, 234, 54, 565)

In [18]:
34 in t1

True

In [20]:
t3 = (234, 56, 78)
max(t3)

234

In [22]:
t1.index(34)

1

In [23]:
t1.count(34)

1

In [24]:
l5 = list(t1)
l5

[234, 34, 'anuja', 3.45, True]

In [27]:
t = ((2,2,4),(45,67,89), 52,36,(77, 78))
t[4][1]

78

In [28]:
for i in t:
    print(i)

(2, 2, 4)
(45, 67, 89)
52
36
(77, 78)

In [29]:
for i in t:
    if type(i) == tuple:
        print(i[0])

2
45
77

In [30]:
if len(t1) == len(t2):
    print("same")
else:
    print("not same")

not same

In [31]:
t = (234, 34, "anuja", 3.45, 34, 34, 34, True)

In [32]:
i = input("take user input")

if i in t:
    print("yes ur name is available")
else:
    print("not available")

yes r name is available

In [33]:
del(t)

In [34]:
t

NameError: name 't' is not defined

### SET

In [35]:
x = set()
type(x)

set

In [38]:
l = [34,45,45,45,45,67,34,56,78,"anuja","anuja","Anuja","namboo"]

In [43]:
s = set(l)  
s      # removed duplicates, case sensitive

{34, 45, 56, 67, 78, 'Anuja', 'anuja', 'namboo'}

In [41]:
for i in s:
    print(i)

34
67
anuja
namboo
Anuja
45
78
56

In [44]:
s = set()
s

set()

In [46]:
s.add(45)
s

{45}

In [47]:
s.add("anuja")

In [48]:
s.add([23,45])

TypeError: unhashable type: 'list'

In [49]:
s.clear()
s

set()

### DICTIONARY

In [50]:
x = {}
type(x)

dict

In [51]:
x1 = {34,56}
type(x1)

set

In [52]:
x = {"name": "anuja", "age": 28}        #key value pair
type(x)

dict