### TUPLE

In [1]:
t = ()
type(t)

tuple

In [2]:
l = []
type(l)

list

In [3]:
t1 = (234, 34, "anuja", 3.45, True)

In [4]:
l1 = [234, 34, "anuja", 3.45, True]

In [5]:
t1[0]

234

In [6]:
t1[0:4]

(234, 34, 'anuja', 3.45)

In [7]:
t1[::-1]

(True, 3.45, 'anuja', 34, 234)

In [8]:
t1[-1]

True

In [9]:
l1[0]

234

In [10]:
l1[0] = "rock"
l1

['rock', 34, 'anuja', 3.45, True]

In [11]:
# this shows that list is a mutable entity

In [12]:
t1[0] = "sky"

TypeError: 'tuple' object does not support item assignment

In [14]:
# tuples are immutable
# item reassignment is not possible

In [15]:
t2 = (234, 54, 565)

In [17]:
t1 + t2 # append works because assignment is happening in a new location

(234, 34, 'anuja', 3.45, True, 234, 54, 565)

In [18]:
34 in t1

True

In [20]:
t3 = (234, 56, 78)
max(t3)

234

In [22]:
t1.index(34)

1

In [23]:
t1.count(34)

1

In [24]:
l5 = list(t1)
l5

[234, 34, 'anuja', 3.45, True]

In [27]:
t = ((2,2,4),(45,67,89), 52,36,(77, 78))
t[4][1]

78

In [28]:
for i in t:
    print(i)

(2, 2, 4)
(45, 67, 89)
52
36
(77, 78)

In [29]:
for i in t:
    if type(i) == tuple:
        print(i[0])

2
45
77

In [30]:
if len(t1) == len(t2):
    print("same")
else:
    print("not same")

not same

In [31]:
t = (234, 34, "anuja", 3.45, 34, 34, 34, True)

In [32]:
i = input("take user input")

if i in t:
    print("yes ur name is available")
else:
    print("not available")

yes r name is available

In [33]:
del(t)

In [34]:
t

NameError: name 't' is not defined

### SET

In [35]:
x = set()
type(x)

set

In [38]:
l = [34,45,45,45,45,67,34,56,78,"anuja","anuja","Anuja","namboo"]

In [43]:
s = set(l)  
s      # removed duplicates, case sensitive

{34, 45, 56, 67, 78, 'Anuja', 'anuja', 'namboo'}

In [41]:
for i in s:
    print(i)

34
67
anuja
namboo
Anuja
45
78
56

In [44]:
s = set()
s

set()

In [46]:
s.add(45)
s

{45}

In [47]:
s.add("anuja")

In [48]:
s.add([23,45])

TypeError: unhashable type: 'list'

In [49]:
s.clear()
s

set()

### DICTIONARY

In [50]:
x = {}
type(x)

dict

In [51]:
x1 = {34,56}
type(x1)

set

In [55]:
x = {"name": "anuja", "age": 28}        #key value pair
type(x)

dict

In [54]:
x1 = {"name": "anuja", "age": 28, "name": "namboo", True: "rock", "key": False, 123:456}

In [56]:
x1

{'name': 'namboo', 'age': 28, True: 'rock', 'key': False, 123: 456}

In [57]:
# name key is replaced on initializing for the second time

In [63]:
x2 = {"name": {"k1": 123, "k4": [1,2,3]}, "age": 28, "sur": "namboo", True: "rock", "key": False, 123:456}

In [64]:
x2

{'name': {'k1': 123, 'k4': [1, 2, 3]},
 'age': 28,
 'sur': 'namboo',
 True: 'rock',
 'key': False,
 123: 456}

In [67]:
x2["key"]

False

In [68]:
x2[123]

456

In [71]:
x2["name"]["k4"]

[1, 2, 3]

In [74]:
x2["True"] = "hardrock"
x2[True] = "hardrock"
x2

{'name': {'k1': 123, 'k4': [1, 2, 3]},
 'age': 28,
 'sur': 'namboo',
 True: 'hardrock',
 'key': False,
 123: 456,
 'True': 'hardrock'}

In [75]:
x2.keys()

dict_keys(['name', 'age', 'sur', True, 'key', 123, 'True'])

In [76]:
"name" in x2.keys()

True

In [79]:
for i in x2:
    print(i)

name
age
sur
True
key
123
True

In [80]:
for i in x2.keys():
    print(x2[i])

{'k1': 123, 'k4': [1, 2, 3]}
28
namboo
hardrock
False
456
hardrock

In [81]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'str'>

In [83]:
x2.items()  # list of tuples of key and value pair

dict_items([('name', {'k1': 123, 'k4': [1, 2, 3]}), ('age', 28), ('sur', 'namboo'), (True, 'hardrock'), ('key', False), (123, 456), ('True', 'hardrock')])

In [88]:
# print all the keys in the above list
for i in x2.items():
    print(i[0])    
    print(i[1])
    print("**********")

name
{'k1': 123, 'k4': [1, 2, 3]}
**********
age
28
**********
sur
namboo
**********
True
hardrock
**********
key
False
**********
123
456
**********
True
hardrock
**********

In [89]:
len(x2)

7

Take input as a paragraph.
1. Convert all of this input into list
2. Remove all the duplicate elements from your list
3. Use above distinct elements as a key for dictionary and assign your name as a value
4. Try to print tuple of all the values
5. Try to print list of all the keys

In [91]:
para = input("Input a paragraph")

In [92]:
para

'Short paragraphs are easier to read and understand. Writing experts recommend paragraphs of no more than 150 words in three to eight sentences. Paragraphs should never be longer than 250 words.'

In [97]:
para_lst = para.split(" ")
print(para_lst[0:5])
print(len(para_lst))

['Short', 'paragraphs', 'are', 'easier', 'to']
31

In [99]:
para_set = set(para_lst)
print(len(para_set))

28

In [102]:
dict1 = {}
for i in list(para_set):
    dict1[i] = "Anuja"

dict1

{'eight': 'Anuja',
 'Paragraphs': 'Anuja',
 '150': 'Anuja',
 'Writing': 'Anuja',
 'easier': 'Anuja',
 'words': 'Anuja',
 'sentences.': 'Anuja',
 '250': 'Anuja',
 'should': 'Anuja',
 'no': 'Anuja',
 'paragraphs': 'Anuja',
 'words.': 'Anuja',
 'of': 'Anuja',
 'three': 'Anuja',
 'Short': 'Anuja',
 'than': 'Anuja',
 'more': 'Anuja',
 'longer': 'Anuja',
 'never': 'Anuja',
 'and': 'Anuja',
 'experts': 'Anuja',
 'in': 'Anuja',
 'read': 'Anuja',
 'to': 'Anuja',
 'be': 'Anuja',
 'are': 'Anuja',
 'understand.': 'Anuja',
 'recommend': 'Anuja'}

In [103]:
len(dict1)

28

In [106]:
tup_val = []
for i in dict1.keys():
    tup_val.append(dict1[i])

print(tup_val)

['Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja', 'Anuja']

In [107]:
lst_keys = []
for i in dict1.keys():
    lst_keys.append(i)

print(lst_keys)

['eight', 'Paragraphs', '150', 'Writing', 'easier', 'words', 'sentences.', '250', 'should', 'no', 'paragraphs', 'words.', 'of', 'three', 'Short', 'than', 'more', 'longer', 'never', 'and', 'experts', 'in', 'read', 'to', 'be', 'are', 'understand.', 'recommend']

In [108]:
len(lst_keys)

28

### Dictionary Comprehension

In [110]:
# dictionary of keys as number and values as corresposninf square

my_dict = {}
for i in range(10):
    my_dict[i] = i*i
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [112]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}