In [1]:
a = 10
b = 20
a+b

30

In [5]:
def sum(a,b):
    print(a+b)

c = sum(a=10, b=20)
d = sum(753, 258)

30
1011

In [7]:
def mul(x,y):
    return x*y

c = mul(4,5) + 8        # on return function output can be used further
c

28

In [8]:
type(sum(1,2))

3

NoneType

In [9]:
type(mul(1,2))

int

In [10]:
def test3 (n, m):
    return n*10, m*20, m+n

In [11]:
test3(2,7)

(20, 140, 9)

In [12]:
c, x, v = test3(2,7)
print(c)
print(x)
print(v)

20
140
9

In [13]:
c , x, _ = test3(2,3)

In [14]:
c

20

In [15]:
x

60

In [16]:
_   #placeholder

5

In [17]:
def test4(n):
    return n*2

In [18]:
test4([1,2,3])

[1, 2, 3, 1, 2, 3]

In [19]:
test4(36)

72

In [25]:
def test5(n , m=10):
    return n+m

In [26]:
test5(5)

15

In [28]:
test5(5, 20) # defsult of m is overridden

25

In [29]:
def travel(bike=True, car=False):
    plan_travel = bike or car
    return bike, car, plan_travel

In [30]:
travel()

(True, False, True)

In [31]:
def test1(*args):
    return args

In [32]:
test1("anuja", "namboo", 32, [1,2,3])

('anuja', 'namboo', 32, [1, 2, 3])

In [41]:
"""
Create a function that akes any number of list and gives an output of concatenated one list
"""

def lst (*args):
    l=[]
    for i in args:
        l = l+i
    return l

test =  lst([1,2], [3,4])
test

[1, 2, 3, 4]

In [43]:
test1 = lst([1,2,3,], [2,3,6,], [5,8,9])
test1

[1, 2, 3, 2, 3, 6, 5, 8, 9]

In [44]:
# improved 

def lst1 (*args):
    return [i for i in args]

test1 = lst([1,2,3,], [2,3,6,], [5,8,9])
test1

[1, 2, 3, 2, 3, 6, 5, 8, 9]

In [48]:
# improved --> making sure of the data type

def lst1 (*args):
    l = []
    for i in args:
        if type(i) == list:
            l = l+i
    return l

test2 = lst1("anuja", [1,2,3])
test2

[1, 2, 3]

In [49]:
# keyword argument
# key value pair inputs

def test16(**kwargs):
    return kwargs

In [50]:
test16(4,5,6)

TypeError: test16() takes 0 positional arguments but 3 were given

In [51]:
test16(a=4, b=5, c=6)

{'a': 4, 'b': 5, 'c': 6}

In [52]:
test16({'a': 4, 'b': 5, 'c': 6})

TypeError: test16() takes 0 positional arguments but 1 was given

In [62]:
x = [2, "a", 23.4, (3,"a"), {"a" : 22}]
y = [type(i) for i in x]
print(y)

for i in args:
    for

[<class 'int'>, <class 'str'>, <class 'float'>, <class 'tuple'>, <class 'dict'>]

In [160]:
"""Create a function
Allow input of number of mixed data and try to create a list of separate data based on datatype
"""

def d2lst (*args):
    types = [type(i) for i in args]
    a = [[] for j in types for i in args  if type(i) == j]
    print(a)
    return None

test = d2lst(2, 3, "anu", "ja") #, "ja", True, False)
test

SyntaxError: invalid syntax (320205239.py, line 7)

In [ ]:
"""Create a function which will be able to use *args and *kwargs and it will be able to do all the list value concatenation and return a list"""

In [154]:
l = [1,2,3]
# l+[2,3]

[1, 2, 3, 2, 3]

In [153]:
l

[1, 2, 3, [2, 3]]